body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e3eaf4, #eef2f6);
  color: #2f4777;
  min-height: 100vh;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #2f4777;
  color: white;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.header .logo span {
  color: #0d6efd;
}

.navbar a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.navbar a:hover {
  color: #198754;
}

.btn-primary {
  background-color: #0d6efd;
  color: rgb(187, 186, 186);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-secondary {
  background-color: #198754;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #145c41;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero h1 {
  font-size: 3.5rem;
  color: #0d6efd;
}

.hero h1 span {
  color: #0f683f;
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #f8f9fa;
}

.hero-buttons {
  margin-top: 30px;
}

.about, .events, .contact {
  padding: 50px 20px;
  text-align: center;
}

.events .event-card {
  background-color: rgb(126, 173, 213);
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact input, .contact textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  color: #2c3e50;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #2f4777;
  color: white;
  margin-top: 30px;
}

#one {
  color: #0d6efd;
}



